
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3 class="md-headline">Sample Electron App</h3>
    </div>
  </md-toolbar>

  <md-content class="layout-padding flex">
    <p>This is a simple electron starter app bootstrapped to use webpack, babel,
      and angular-material.</p><br/>
      <div class="flex">
        <md-button class="md-raised md-primary" ng-click="ctrl.test()">Test</md-button><small class="md-caption">(Output to console)</small><br/>
        <md-button class="md-raised md-primary" ng-click="ctrl.showDialog()">Show Dialog</md-button>
      </div>

  </md-content>
